*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
}

.rectangle1 {
  width: 100vw;
  height: 72px;
  flex-shrink: 0;
  background: #19242d;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 102px;
}
.rectangle1 #logo-megaparts {
  width: 538px;
  height: 35px;
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.rectangle1 #navigationIcons {
  display: flex;
  width: 538px;
  height: 35px;
  padding: 10px 0px;
  gap: 50px;
  justify-content: flex-end;
  align-items: center;
}
.rectangle1 .container1 {
  display: inline-flex;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
}
.rectangle1 .container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.rectangle1 .container2 p {
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rectangle1 .container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.rectangle1 .container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.rectangle1 .container4 p {
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.rectangle2 {
  width: 100vw;
  height: 72px;
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #202d39;
  justify-content: center;
}
.rectangle2 .rectangle2Content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle2 button {
  z-index: 1000;
  position: absolute;
  border: none;
  height: 100%;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  width: 30px;
  text-decoration: none;
  background: linear-gradient(90deg, transparent -0.31%, #202d39 35.35%);
}
.rectangle2 #carouselForward {
  right: -1%;
  background: linear-gradient(90deg, transparent -0.31%, #202d39 35.35%);
}
.rectangle2 #carouselBack {
  opacity: 0;
  left: -1%;
  background: linear-gradient(-90deg, transparent -0.31%, #202d39 35.35%);
}
.rectangle2 .carouselWrapper {
  flex-grow: 1;
  overflow: hidden;
  max-width: 1179px;
  padding-inline: 5px;
}
.rectangle2 .carouselWrapper .carousel {
  display: flex;
  gap: 8px;
  transition: transform 300ms ease-in-out;
  width: -moz-max-content;
  width: max-content;
}
.rectangle2 .carouselWrapper .carousel .itH {
  display: flex;
  padding: 8px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #008aee;
}
.rectangle2 .carouselWrapper .carousel .it1 {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #008aee;
}
.rectangle2 .carouselWrapper .carousel .it1 p {
  white-space: nowrap;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rectangle2 .carouselWrapper .carousel .it2 {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #5fb865;
}
.rectangle2 .carouselWrapper .carousel .it2 p {
  white-space: nowrap;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rectangle2 .carouselWrapper .carousel .it3 {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #63c7c9;
}
.rectangle2 .carouselWrapper .carousel .it3 p {
  white-space: nowrap;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rectangle2 .carouselWrapper .carousel .it4 {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #dc5426;
}
.rectangle2 .carouselWrapper .carousel .it4 p {
  white-space: nowrap;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rectangle2 .carouselWrapper .carousel .it5 {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #e59d48;
}
.rectangle2 .carouselWrapper .carousel .it5 p {
  white-space: nowrap;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rectangle2 .carouselWrapper .carousel .it6 {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #bd5fe9;
}
.rectangle2 .carouselWrapper .carousel .it6 p {
  white-space: nowrap;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rectangle2 .carouselWrapper .carousel .it7 {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: transparent;
  border: 1.5px solid #dc5426;
}
.rectangle2 .carouselWrapper .carousel .it7 p {
  white-space: nowrap;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search {
  overflow: hidden;
}

.searchDiv {
  display: flex;
  width: 100vw;
  padding: 25px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: #008aee;
}
.searchDiv .mainSearchContent {
  display: flex;
  width: 1179px;
  padding: 20px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  border-radius: 25px;
  background: #fefefe;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.searchDiv .mainSearchContent .searchHeader {
  display: flex;
  width: 1120px;
  align-items: flex-start;
  gap: 15px;
}
.searchDiv .mainSearchContent .searchHeader img {
  margin-top: 2px;
  stroke-width: 4px;
  stroke: #19242d;
}
.searchDiv .mainSearchContent .searchHeader p {
  line-height: 31px;
  display: flex;
  padding: 0;
  color: #19242d;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.searchDiv .mainSearchContent .searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.searchDiv .mainSearchContent .searchBar .searchInput {
  display: flex;
  padding: 16px 443px 16px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 25px;
  border: 1px solid #008aee;
}
.searchDiv .mainSearchContent .searchBar .searchInput input {
  width: 465px;
  border: none;
  outline: none;
}
.searchDiv .mainSearchContent .searchBar .searchInput input::-moz-placeholder {
  color: #777;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.searchDiv .mainSearchContent .searchBar .searchInput input::placeholder {
  color: #777;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.searchDiv .mainSearchContent .searchBar .buttonInput {
  display: flex;
  padding: 12.5px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 25px;
  background: #008aee;
}
.searchDiv .mainSearchContent .searchBar .buttonInput input {
  color: #fefefe;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border: none;
  outline: none;
}
.searchDiv .mainSearchContent .filters {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.searchDiv .mainSearchContent .filters .frame1 {
  display: flex;
  padding: 6px 22px;
  gap: 10px;
  border-radius: 25px;
  background: #008aee;
}
.searchDiv .mainSearchContent .filters .frame1 p {
  color: #19242d;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fefefe;
}
.searchDiv .mainSearchContent .filters .frame2 {
  display: flex;
  padding: 6px 22px;
  gap: 10px;
  border-radius: 25px;
  border: 1.5px solid #008aee;
}
.searchDiv .mainSearchContent .filters .frame2 p {
  color: #19242d;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.searchDiv .mainSearchContent .filters .frame3 {
  display: flex;
  padding: 6px 22px;
  gap: 10px;
  border-radius: 25px;
  border: 1.5px solid #5fb865;
}
.searchDiv .mainSearchContent .filters .frame3 p {
  color: #19242d;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.searchDiv .mainSearchContent .filters .frame4 {
  display: flex;
  padding: 6px 22px;
  gap: 10px;
  border-radius: 25px;
  border: 1.5px solid #63c7c9;
}
.searchDiv .mainSearchContent .filters .frame4 p {
  color: #19242d;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.searchDiv .mainSearchContent .filters .frame5 {
  display: flex;
  padding: 6px 22px;
  gap: 10px;
  border-radius: 25px;
  border: 1.5px solid #dc5426;
}
.searchDiv .mainSearchContent .filters .frame5 p {
  color: #19242d;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.searchDiv .mainSearchContent .filters .frame6 {
  display: flex;
  padding: 6px 22px;
  gap: 10px;
  border-radius: 25px;
  border: 1.5px solid #e59d48;
}
.searchDiv .mainSearchContent .filters .frame6 p {
  color: #19242d;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bannerSlider {
  width: 100vw;
  height: 299px;
  flex-shrink: 0;
  overflow: hidden;
}
.bannerSlider img {
  height: 299px;
  width: 100vw;
  -o-object-fit: fill;
     object-fit: fill;
}

.services {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.services .servicesDiv {
  margin-top: 25px;
  display: flex;
  width: 1180px;
  height: 56px;
  padding-right: 0px;
  align-items: flex-start;
  gap: 80.423px;
  flex-shrink: 0;
}
.services .servicesDiv img {
  width: 56px;
  height: 56px;
}
.services .servicesDiv .serviceHeading {
  color: #19242d;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.services .servicesDiv .serviceParagraph {
  color: #777;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.services .servicesDiv .serviceText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.services .servicesDiv .serviceUnit1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.services .servicesDiv .serviceUnit2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.services .servicesDiv .serviceUnit3 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.services .servicesDiv .serviceUnit4 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.autoParts {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 42px;
}
.autoParts .autoPartsDiv {
  display: flex;
  gap: 32px;
  width: 1180px;
  height: 277.747px;
  flex-shrink: 0;
}
.autoParts .autoPartsDiv .autoPartsFixed {
  display: flex;
  width: 271px;
  height: 271px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #008aee;
  background: #008aee;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.autoParts .autoPartsDiv .autoPartsFixed .autoPartsFixedGearDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.autoParts .autoPartsDiv .autoPartsFixed .autoPartsFixedGearDiv img {
  margin-top: 25px;
  width: 32px;
  height: 32px;
  fill: #fff;
}
.autoParts .autoPartsDiv .autoPartsFixed .autoPartsFixedGearDiv .partsHeading {
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.autoParts .autoPartsDiv .autoPartsFixed .partsText {
  align-self: stretch;
  color: #ededed;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.autoParts .autoPartsDiv .autoPartsFixed .autoPartsFixedButton {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #fff;
  margin-bottom: 10px;
}
.autoParts .autoPartsDiv .autoPartsFixed .autoPartsFixedButton button {
  color: #008aee;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  border: none;
  background-color: transparent;
}
.autoParts .autoPartsDiv .autoPartsMain {
  overflow: hidden;
}
.autoParts .autoPartsDiv .autoPartsMain .autoPartsHeading {
  margin-bottom: 12px;
  width: 229px;
  height: -moz-fit-content;
  height: fit-content;
  flex-shrink: 0;
}
.autoParts .autoPartsDiv .autoPartsMain .autoPartsHeading p {
  color: #19242d;
  align-self: stretch;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.autoParts .autoPartsDiv .autoPartsMain .autoPartsSlider {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
}
.autoParts .autoPartsDiv .autoPartsMain .autoPartsSlider .productUnit {
  display: flex;
  width: 271px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.972px;
}
.autoParts .autoPartsDiv .autoPartsMain .autoPartsSlider .productUnit img {
  width: 271px;
  height: 179.538px;
  border-radius: 15.651px;
  border: 2px solid #008aee;
  -o-object-fit: cover;
     object-fit: cover;
}
.autoParts .autoPartsDiv .autoPartsMain .autoPartsSlider .productUnit .productDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.983px;
  align-self: stretch;
}
.autoParts .autoPartsDiv .autoPartsMain .autoPartsSlider .productUnit .productDescription .productName {
  align-self: stretch;
  color: #19242d;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 14.608px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.autoParts .autoPartsDiv .autoPartsMain .autoPartsSlider .productUnit .productDescription .productCatAndPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.autoParts .autoPartsDiv .autoPartsMain .autoPartsSlider .productUnit .productDescription .productCatAndPrice .productCategory {
  color: #999;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 12.521px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.autoParts .autoPartsDiv .autoPartsMain .autoPartsSlider .productUnit .productDescription .productCatAndPrice .productPrice {
  color: #5fb865;
  text-align: right;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18.782px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.autoExchange {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 80.13px;
}
.autoExchange .autoExchangeDiv {
  display: flex;
  gap: 32px;
  width: 1180px;
  height: 277.747px;
  flex-shrink: 0;
}
.autoExchange .autoExchangeDiv .autoExchangeFixed {
  display: flex;
  width: 271px;
  height: 271px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #008aee;
  background: #008aee;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border: 2px solid #5fb865;
  background: #5fb865;
}
.autoExchange .autoExchangeDiv .autoExchangeFixed .autoExchangeFixedGearDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.autoExchange .autoExchangeDiv .autoExchangeFixed .autoExchangeFixedGearDiv img {
  margin-top: 25px;
  width: 32px;
  height: 32px;
  fill: #fff;
}
.autoExchange .autoExchangeDiv .autoExchangeFixed .autoExchangeFixedGearDiv .partsHeading {
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.autoExchange .autoExchangeDiv .autoExchangeFixed .partsText {
  align-self: stretch;
  color: #ededed;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.autoExchange .autoExchangeDiv .autoExchangeFixed .autoExchangeFixedButton {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #fff;
  margin-bottom: 10px;
}
.autoExchange .autoExchangeDiv .autoExchangeFixed .autoExchangeFixedButton button {
  color: #008aee;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #5fb865;
}
.autoExchange .autoExchangeDiv .autoExchangeMain {
  overflow: hidden;
}
.autoExchange .autoExchangeDiv .autoExchangeMain .autoExchangeHeading {
  width: 287px;
  height: -moz-fit-content;
  height: fit-content;
  flex-shrink: 0;
  margin-bottom: 12px;
}
.autoExchange .autoExchangeDiv .autoExchangeMain .autoExchangeHeading p {
  color: #19242d;
  align-self: stretch;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.autoExchange .autoExchangeDiv .autoExchangeMain .autoExchangeSlider {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
}
.autoExchange .autoExchangeDiv .autoExchangeMain .autoExchangeSlider .autoExchangeProductUnit {
  display: flex;
  width: 271px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.972px;
}
.autoExchange .autoExchangeDiv .autoExchangeMain .autoExchangeSlider .autoExchangeProductUnit img {
  width: 271px;
  height: 179.538px;
  border-radius: 15.651px;
  border: 2px solid #5fb865;
  -o-object-fit: cover;
     object-fit: cover;
}
.autoExchange .autoExchangeDiv .autoExchangeMain .autoExchangeSlider .autoExchangeProductUnit .autoExchangeProductDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.983px;
  align-self: stretch;
}
.autoExchange .autoExchangeDiv .autoExchangeMain .autoExchangeSlider .autoExchangeProductUnit .autoExchangeProductDescription .autoExchangeProductName {
  align-self: stretch;
  color: #19242d;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.autoExchange .autoExchangeDiv .autoExchangeMain .autoExchangeSlider .autoExchangeProductUnit .autoExchangeProductDescription .autoExchangeProductName .buying {
  color: #5fb865;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.autoExchange .autoExchangeDiv .autoExchangeMain .autoExchangeSlider .autoExchangeProductUnit .autoExchangeProductDescription .autoExchangeProductName .selling {
  color: #008aee;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.servicesFixedFirst {
  width: 100vw;
  margin-top: 80.13px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.servicesFixedFirst .servicesFixedFirstDiv {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  width: 1180px;
  height: 271px;
}
.servicesFixedFirst .servicesFixedFirstDiv .autoExchangeServices {
  display: flex;
  width: 271px;
  height: 271px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #008aee;
  background: #008aee;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border: 2px solid #63c7c9;
  background: #63c7c9;
}
.servicesFixedFirst .servicesFixedFirstDiv .autoExchangeServices .autoExchangeFixedCarDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.servicesFixedFirst .servicesFixedFirstDiv .autoExchangeServices .autoExchangeFixedCarDiv img {
  margin-top: 25px;
  width: 32px;
  height: 32px;
  fill: #fff;
}
.servicesFixedFirst .servicesFixedFirstDiv .autoExchangeServices .autoExchangeFixedCarDiv .partsHeading {
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.servicesFixedFirst .servicesFixedFirstDiv .autoExchangeServices .partsText {
  align-self: stretch;
  color: #ededed;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.servicesFixedFirst .servicesFixedFirstDiv .autoExchangeServices .autoExchangeFixedButton {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #fff;
  margin-bottom: 10px;
}
.servicesFixedFirst .servicesFixedFirstDiv .autoExchangeServices .autoExchangeFixedButton button {
  color: #008aee;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #63c7c9;
}
.servicesFixedFirst .servicesFixedFirstDiv .sellingServices {
  display: flex;
  width: 271px;
  height: 271px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #008aee;
  background: #008aee;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border: 2px solid #dc5426;
  background: #dc5426;
}
.servicesFixedFirst .servicesFixedFirstDiv .sellingServices .sellingServicesFixedWheelDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.servicesFixedFirst .servicesFixedFirstDiv .sellingServices .sellingServicesFixedWheelDiv img {
  margin-top: 25px;
  width: 32px;
  height: 32px;
  fill: #fff;
}
.servicesFixedFirst .servicesFixedFirstDiv .sellingServices .sellingServicesFixedWheelDiv .partsHeading {
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.servicesFixedFirst .servicesFixedFirstDiv .sellingServices .partsText {
  align-self: stretch;
  color: #ededed;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.servicesFixedFirst .servicesFixedFirstDiv .sellingServices .sellingServicesButton {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #fff;
  margin-bottom: 10px;
  transform: translateY(28px);
}
.servicesFixedFirst .servicesFixedFirstDiv .sellingServices .sellingServicesButton button {
  color: #008aee;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #dc5426;
}
.servicesFixedFirst .servicesFixedFirstDiv .partsFixed {
  display: flex;
  width: 271px;
  height: 271px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #008aee;
  background: #008aee;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border: 2px solid #e59d48;
  background: #e59d48;
}
.servicesFixedFirst .servicesFixedFirstDiv .partsFixed .partsFixedGearDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.servicesFixedFirst .servicesFixedFirstDiv .partsFixed .partsFixedGearDiv img {
  margin-top: 25px;
  width: 32px;
  height: 32px;
  fill: #fff;
}
.servicesFixedFirst .servicesFixedFirstDiv .partsFixed .partsFixedGearDiv .partsHeading {
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.servicesFixedFirst .servicesFixedFirstDiv .partsFixed .partsText {
  align-self: stretch;
  color: #ededed;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.servicesFixedFirst .servicesFixedFirstDiv .partsFixed .partsFixedButton {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #fff;
  margin-bottom: 10px;
  transform: translateY(40px);
}
.servicesFixedFirst .servicesFixedFirstDiv .partsFixed .partsFixedButton button {
  color: #008aee;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #e59d48;
}
.servicesFixedFirst .servicesFixedFirstDiv .gamesFixed {
  display: flex;
  width: 271px;
  height: 271px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #008aee;
  background: #008aee;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border: 2px solid #bd5fe9;
  background: #bd5fe9;
}
.servicesFixedFirst .servicesFixedFirstDiv .gamesFixed .gamesFixedControllerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.servicesFixedFirst .servicesFixedFirstDiv .gamesFixed .gamesFixedControllerDiv img {
  margin-top: 25px;
  width: 32px;
  height: 32px;
  fill: #fff;
}
.servicesFixedFirst .servicesFixedFirstDiv .gamesFixed .gamesFixedControllerDiv .partsHeading {
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.servicesFixedFirst .servicesFixedFirstDiv .gamesFixed .partsText {
  align-self: stretch;
  color: #ededed;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.servicesFixedFirst .servicesFixedFirstDiv .gamesFixed .gamesFixedButton {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #fff;
  margin-bottom: 10px;
}
.servicesFixedFirst .servicesFixedFirstDiv .gamesFixed .gamesFixedButton button {
  color: #008aee;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #bd5fe9;
}

.mega {
  color: #ededed;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.megaAnchorP {
  transform: translateY(-5px);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.megaVector {
  fill: #fff;
  width: 9.185px;
  height: 5px;
}

.servicesFixedSecond {
  display: flex;
  margin-top: 32px;
  justify-content: center;
}
.servicesFixedSecond .servicesWrapper {
  display: flex;
  width: 1179px;
  align-items: flex-start;
  gap: 32px;
}
.servicesFixedSecond .servicesWrapper .serviceInsurance {
  display: flex;
  width: 241px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #dc5426;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.servicesFixedSecond .servicesWrapper .serviceInsurance .insuranceSvg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.servicesFixedSecond .servicesWrapper .serviceInsurance .insuranceSvg img {
  width: 17.778px;
  height: 16px;
}
.servicesFixedSecond .servicesWrapper .serviceInsurance .insuranceSvg p {
  color: #dc5426;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.servicesFixedSecond .servicesWrapper .serviceInsurance .insuranceDescription {
  color: #999;
  text-align: center;
  align-self: stretch;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.servicesFixedSecond .servicesWrapper .serviceCredits {
  display: flex;
  width: 241px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #dc5426;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border: 2px solid #5fb865;
}
.servicesFixedSecond .servicesWrapper .serviceCredits .serviceCreditsSvg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.servicesFixedSecond .servicesWrapper .serviceCredits .serviceCreditsSvg img {
  width: 17.778px;
  height: 16px;
}
.servicesFixedSecond .servicesWrapper .serviceCredits .serviceCreditsSvg p {
  color: #dc5426;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #5fb865;
}
.servicesFixedSecond .servicesWrapper .serviceCredits .serviceCreditsDescription {
  color: #999;
  text-align: center;
  align-self: stretch;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.servicesFixedSecond .servicesWrapper .serviceDiary {
  display: flex;
  width: 241px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #dc5426;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border: 2px solid #008aee;
}
.servicesFixedSecond .servicesWrapper .serviceDiary .serviceDiarySvg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.servicesFixedSecond .servicesWrapper .serviceDiary .serviceDiarySvg img {
  width: 17.778px;
  height: 16px;
}
.servicesFixedSecond .servicesWrapper .serviceDiary .serviceDiarySvg p {
  color: #dc5426;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #008aee;
}
.servicesFixedSecond .servicesWrapper .serviceDiary .serviceDiaryDescription {
  color: #999;
  text-align: center;
  align-self: stretch;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.servicesFixedSecond .servicesWrapper .serviceNews {
  display: flex;
  width: 241px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #dc5426;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border: 2px solid #0043ee;
}
.servicesFixedSecond .servicesWrapper .serviceNews .serviceNewsSvg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.servicesFixedSecond .servicesWrapper .serviceNews .serviceNewsSvg img {
  width: 17.778px;
  height: 16px;
}
.servicesFixedSecond .servicesWrapper .serviceNews .serviceNewsSvg p {
  color: #dc5426;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #0043ee;
}
.servicesFixedSecond .servicesWrapper .serviceNews .serviceNewsDescription {
  color: #999;
  text-align: center;
  align-self: stretch;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.opinionSection .d-flex {
  display: flex;
}
.opinionSection .flex-row {
  flex-direction: row;
}
.opinionSection .align-items-center {
  align-items: center;
}
.opinionSection .justify-content-center {
  justify-content: center;
}
.opinionSection .position-relative {
  position: relative;
}
.opinionSection .flex-column {
  flex-direction: column;
}
.opinionSection .justify-content-between {
  justify-content: space-between;
}
.opinionSection .position-absolute {
  position: absolute;
}
.opinionSection .align-items-start {
  align-items: start;
}
.opinionSection .align-self-stretch {
  align-self: stretch;
}
.opinionSection .opinions {
  width: 100%;
  margin-top: 80px;
}
.opinionSection .opinions .list-opinions {
  width: 1150px;
  height: 261px;
  list-style-type: none;
  margin: 0;
}
.opinionSection .opinions .list-opinions .right-1 {
  right: 0;
}
.opinionSection .opinions .list-opinions .right-2 {
  right: 10%;
}
.opinionSection .opinions .list-opinions .left-1 {
  left: 0;
}
.opinionSection .opinions .list-opinions .left-2 {
  left: 10%;
}
.opinionSection .opinions .list-opinions .opinion-1 {
  width: 350px;
  height: 154px;
  padding: 15px;
  flex-shrink: 0px;
  border-radius: 14.731px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  z-index: 1;
}
.opinionSection .opinions .list-opinions .opinion-1 .frame-172 {
  height: auto;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;
}
.opinionSection .opinions .list-opinions .opinion-1 .frame-172 svg {
  width: 16.885px;
  height: 15.32px;
  flex-shrink: 0;
}
.opinionSection .opinions .list-opinions .opinion-1 .frame-172 .opin-text {
  color: #19242d;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 9.428px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
}
.opinionSection .opinions .list-opinions .opinion-1 .frame-171 {
  gap: 6px;
}
.opinionSection .opinions .list-opinions .opinion-1 .frame-171 .name {
  color: #008aee;
  font-family: "Roboto", sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.opinionSection .opinions .list-opinions .opinion-1 .frame-171 .frame-355 {
  gap: 4px;
}
.opinionSection .opinions .list-opinions .opinion-2 {
  width: 450px;
  height: 197px;
  padding: 18.9px;
  flex-shrink: 0px;
  border-radius: 18.931px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  z-index: 2;
}
.opinionSection .opinions .list-opinions .opinion-2 .frame-172 {
  height: auto;
  gap: 15px;
  flex-shrink: 0;
  align-self: stretch;
}
.opinionSection .opinions .list-opinions .opinion-2 .frame-172 svg {
  width: 21.71px;
  height: 19.697px;
  flex-shrink: 0;
}
.opinionSection .opinions .list-opinions .opinion-2 .frame-172 .opin-text {
  color: #19242d;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12.121px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
}
.opinionSection .opinions .list-opinions .opinion-2 .frame-171 {
  gap: 7.5px;
}
.opinionSection .opinions .list-opinions .opinion-2 .frame-171 .name {
  color: #008aee;
  font-family: "Roboto", sans-serif;
  font-size: 12.121px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.opinionSection .opinions .list-opinions .opinion-2 .frame-171 .frame-355 {
  gap: 4px;
}
.opinionSection .opinions .list-opinions .opinion-3 {
  width: 594px;
  height: 261px;
  padding: 25px;
  flex-shrink: 0px;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  z-index: 3;
}
.opinionSection .opinions .list-opinions .opinion-3 .frame-172 {
  height: auto;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;
}
.opinionSection .opinions .list-opinions .opinion-3 .frame-172 svg {
  width: 28.657px;
  height: 26px;
  flex-shrink: 0;
}
.opinionSection .opinions .list-opinions .opinion-3 .frame-172 .opin-text {
  color: #19242d;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
}
.opinionSection .opinions .list-opinions .opinion-3 .frame-171 {
  gap: 10px;
}
.opinionSection .opinions .list-opinions .opinion-3 .frame-171 .name {
  color: #008aee;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.opinionSection .opinions .list-opinions .opinion-3 .frame-171 .frame-355 {
  gap: 4px;
}
.opinionSection .opinions .left-btn {
  flex-shrink: 0;
  fill: #008aee;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  z-index: 4;
  left: 30%;
  transform: translateY(-50%);
  cursor: pointer;
}
.opinionSection .opinions .right-btn {
  flex-shrink: 0;
  fill: #008aee;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  z-index: 4;
  right: 30%;
  transform: translateY(-50%);
  cursor: pointer;
}

.map {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 119px;
}
.map .mapSvg {
  width: 1179px;
  height: 686.85px;
  flex-shrink: 0;
}
.map .pin1 {
  top: 32%;
  left: 20.7%;
  position: absolute;
  width: 57.852px;
  height: 65.087px;
  flex-shrink: 0;
}
.map .pin2 {
  top: 17%;
  right: 19.45%;
  position: absolute;
  width: 57.852px;
  height: 65.087px;
  flex-shrink: 0;
}

footer {
  width: 100vw;
  height: 300px;
  display: flex;
  flex-shrink: 0;
  background: #202d39;
  justify-content: center;
}
footer .footerWrapper {
  margin-top: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
footer .footerWrapper .aboutYouWrapper {
  position: relative;
  display: flex;
  width: 271px;
  height: 125px;
  padding: 15px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: #19242d;
}
footer .footerWrapper .aboutYouWrapper .aboutYou {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 46px;
}
footer .footerWrapper .aboutYouWrapper .aboutYou .secHelpfull {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
footer .footerWrapper .aboutYouWrapper .aboutYou .secHelpfull .aboutYouHeading {
  color: #fff;
  font-family: "Exo 2";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer .footerWrapper .aboutYouWrapper .aboutYou .secHelpfull .aboutYouParagraph {
  color: #fff;
  font-family: "Exo 2";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer .footerWrapper .aboutYouWrapper .aboutYou .carRating {
  top: 110%;
  left: 0%;
  position: absolute;
  display: flex;
  width: 271px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #19242d;
}
footer .footerWrapper .aboutYouWrapper .aboutYou .carRating .carRatingWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
footer .footerWrapper .aboutYouWrapper .aboutYou .carRating .carRatingWrapper p {
  color: #5fb865;
  font-family: "Exo 2";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer .footerWrapper .onlineShopping {
  display: flex;
  width: 271px;
  height: 190px;
  padding: 15px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: #19242d;
}
footer .footerWrapper .onlineShopping .onlineShoppingWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
footer .footerWrapper .onlineShopping .onlineShoppingWrapper .onlineHeader {
  color: #fff;
  font-family: "Exo 2";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer .footerWrapper .onlineShopping .onlineShoppingWrapper .onlineParagraphs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
footer .footerWrapper .onlineShopping .onlineShoppingWrapper .onlineParagraphs p {
  align-self: stretch;
  color: #fefefe;
  font-family: "Exo 2";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}/*# sourceMappingURL=landingPage.css.map */