$backgroundColorRectangle1: #19242d;
$backgroundColorRectangle2: #202d39;
$backgroundColorSearchDiv: #008aee;

@mixin headerRectangle {
  width: 100vw;
  height: 72px;
  flex-shrink: 0;
}

@mixin frame {
  display: flex;
  padding: 6px 22px;
  gap: 10px;
  border-radius: 25px;
}

@mixin carouselItem {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
}

@mixin carouselText {
  white-space: nowrap;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin frameText {
  color: #19242d;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin imgBanner {
  height: 299px;
  width: 100vw;
  object-fit: fill;
}

.autoPartsFixed {
  //card
  display: flex;
  width: 271px;
  height: 271px;
  padding: 25px 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #008aee;
  background: #008aee;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  .autoPartsFixedGearDiv {
    //cardDiv
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    img {
      //cardImg
      width: 32px;
      height: 32px;
      fill: #fff;
    }

    .partsHeading {
      //cardHeading
      color: #fff;
      font-family: "Exo 2", sans-serif;
      font-family: "Questrial", sans-serif;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .partsText {
    //cardText
    align-self: stretch;
    color: #ededed;
    font-family: "Exo 2", sans-serif;
    font-family: "Questrial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }
  .autoPartsFixedButton {
    //cardButton
    display: flex;
    padding: 5px 15px;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background: #fff;
    button {
      //cardButtonBtn
      color: #008aee;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
      border: none;
      background-color: transparent;
    }
  }
}

@mixin card{
  display: flex;
  width: 271px;
  height: 271px;
  padding: 25px 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #008aee;
  background: #008aee;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}


@mixin cardDiv{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

@mixin cardImg {
  width: 32px;
  height: 32px;
  fill: #fff;
}

@mixin cardHeading {
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin cardText {
  align-self: stretch;
  color: #ededed;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

@mixin cardButton {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #fff;
}

@mixin cardButtonBtn {
  color: #008aee;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  border: none;
  background-color: transparent;
}
