$backgroundColorRectangle1: #19242d;
$backgroundColorRectangle2: #202d39;
$backgroundColorSearchDiv: #008aee;

@mixin headerRectangle {
  width: 100vw;
  height: 72px;
  flex-shrink: 0;
}

@mixin frame {
  display: flex;
  padding: 6px 22px;
  gap: 10px;
  border-radius: 25px;
}

@mixin carouselItem {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
}

@mixin carouselText {
  white-space: nowrap;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin frameText {
  color: #19242d;
  font-family: "Exo 2", sans-serif;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
